DATABASE_NAME=strapi
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=CHANGE_ME_STRONG_PASSWORD

APP_KEYS=CHANGE_ME_1,CHANGE_ME_2
API_TOKEN_SALT=CHANGE_ME
ADMIN_JWT_SECRET=CHANGE_ME
JWT_SECRET=CHANGE_ME
TRANSFER_TOKEN_SALT=CHANGE_ME
